@model BankOfSimba.Models.Client
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Form</title>
</head>
<body>
    <form action="/add" method="post">
        Name: <input type="text" name="name"><br>
        Balance: <input type="text" name="balance"> €coin<br>
        Animal: <input type="text" name="animal"><br>
        Is it a King? <input type="checkbox" name="king" value="true"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>